.EditFormContainer{
    background-color: springgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.EditFormContainer form{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 20px;
    width: 580px;
    box-shadow: 1px 2px 1px 2px springgreen;
    border-radius: 5px;
}
.EditFormContainer form header{
    text-decoration: underline;
    margin: 20px auto;
}
.EditFormContainer form .input_group{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
}
.EditFormContainer form .input_group input{
    height: 55px;
    border: none;
    background-color: whitesmoke;
}
.EditFormContainer form .input_group textarea{
    height: 70px;
    max-width: 540px;
    border: none;
    background-color: whitesmoke;
}
.EditFormContainer  .closingButton{
    background-color: transparent;
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 95%;
    background-color: white;
}
.EditFormContainer  .closingButton svg{
    color: springgreen;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.EditFormContainer form button{
    width: 120px;
    height: 50px;
    border: none;
    margin: auto;
    border-radius: 5px;

}
@media screen  and (max-width:800px){
    .EditFormContainer form{
        width: 100%;
    }
}
