.signUpContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: springgreen;

}
.signUpContainer form{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
    background-color: white;
    width: 700px;
    padding: 30px;
    box-shadow: 5px 4px 5px 10px springgreen;
    border-radius: 5px;
}
.signUpContainer form header{
    margin: 27px auto ;
    text-decoration: underline;
    font-size: 24px;

}
.signUpContainer form .input_group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.signUpContainer form input, .signUpContainer form .input_group input{
    height: 64px;
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
}
.signUpContainer form button{
    background-color: whitesmoke;
    border: none;
    height: 55px;
    width: 120px;
    margin: auto;
    border-radius: 5px;
}
.signUpContainer form button:hover{
    background-color: springgreen;
    color: white;
    cursor: pointer;
}